@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'anzo1';
    src: url('./assets/file.woff2');
}
@font-face{
    font-family: 'anzo2';
    src: url('./assets/madefor-text.var.original.woff2');
}
@font-face{
    font-family: 'anzo3';
    src: url('./assets/file (1).woff2');
}
@font-face{
    font-family: 'anzo4';
    src: url('./assets/file (2).woff2');
}

.rotateText {
    /* writing-mode: vertical-rl; */
    /* text-orientation: upright; */
    perspective: 2000;
    /* transform-style: preserve-3d; */
    /* transform: rotateY(30deg); */
    /* transform: rotateX(30deg); */
    /* transform: rotateZ(30deg); */

}

